<!-- ko with: home -->

<div class="row">
    <div class="col-md-3">
        <h2>Punch Clock List</h2>
        <p>Clock #1</p>
    </div>

    <div class="col-md-3">
        <h2>Client</h2>
        <p>Cheetak Industries</p>
    </div>
    <div class="col-md-3">
        <h2>Description</h2>
        <p>Employee Entrance at rear of building</p>
    </div>
    <div class="col-md-3">
        <h2>Most recent update</h2>
        <p>4/24/2014 4:44pm</p>
    </div>
</div>

<!-- /ko -->
